modules/extensions-spring-support/src/test/resources/heisenberg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/extension/heisenberg" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="enemies">
                            <xs:annotation>
                                <xs:documentation></xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="enemy">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="mule:expression" use="required" name="value">
                                                        <xs:annotation>
                                                            <xs:documentation></xs:documentation>
                                                        </xs:annotation>
                                                    </xs:attribute>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="ricin-packs">
                            <xs:annotation>
                                <xs:documentation></xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ricin-pack">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="1" name="destination">
                                                    <xs:annotation>
                                                        <xs:documentation></xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:complexContent>
                                                            <xs:extension xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" base="org.mule.module.extensions.Door"></xs:extension>
                                                        </xs:complexContent>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute type="mule:expression" use="required" name="microgramsPerKilo">
                                                <xs:annotation>
                                                    <xs:documentation></xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="next-door">
                            <xs:annotation>
                                <xs:documentation></xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" base="org.mule.module.extensions.Door"></xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="name">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="optional" name="myName">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="optional" name="age">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="optional" name="enemies">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="required" name="money">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="required" name="cancer">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="required" name="dateOfBirth">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="required" name="dateOfDeath">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="optional" name="recipe">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="optional" name="ricinPacks">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="optional" name="nextDoor">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expression" use="optional" name="candidateDoors">
                        <xs:annotation>
                            <xs:documentation></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="previous">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" base="org.mule.module.extensions.Door"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.module.extensions.Door">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="previous">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" base="org.mule.module.extensions.Door"></xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expression" use="required" name="address">
            <xs:annotation>
                <xs:documentation></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expression" use="required" name="victim">
            <xs:annotation>
                <xs:documentation></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="destination">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" base="org.mule.module.extensions.Door"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="org.mule.module.extensions.Ricin">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="destination">
                <xs:annotation>
                    <xs:documentation></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" base="org.mule.module.extensions.Door"></xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expression" use="required" name="microgramsPerKilo">
            <xs:annotation>
                <xs:documentation></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="next-door">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" base="org.mule.module.extensions.Door"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetEnemyType" substitutionGroup="mule:abstract-message-processor" name="get-enemy">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GetEnemyType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:expression" use="required" name="config">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expression" use="optional" name="index">
                    <xs:annotation>
                        <xs:documentation></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="HideMethInEventType" substitutionGroup="mule:abstract-message-processor" name="hide-meth-in-event">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="HideMethInEventType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:expression" use="required" name="config">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="HideMethInMessageType" substitutionGroup="mule:abstract-message-processor" name="hide-meth-in-message">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="HideMethInMessageType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:expression" use="required" name="config">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="KillType" substitutionGroup="mule:abstract-message-processor" name="kill">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="KillType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mule:messageProcessorOrOutboundEndpoint"></xs:group>
                <xs:attribute type="mule:expression" use="required" name="config">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="KillWithCustomMessageType" substitutionGroup="mule:abstract-message-processor" name="kill-with-custom-message">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="KillWithCustomMessageType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mule:messageProcessorOrOutboundEndpoint"></xs:group>
                <xs:attribute type="mule:expression" use="required" name="config">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expression" use="optional" name="goodbyeMessage">
                    <xs:annotation>
                        <xs:documentation></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/extension/heisenberg" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SayMyNameType" substitutionGroup="mule:abstract-message-processor" name="say-my-name">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SayMyNameType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:expression" use="required" name="config">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="integerType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:substitutableInt"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="longType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:substitutableLong"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="booleanType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:substitutableBoolean"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="decimalType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:decimal"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="floatType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:float"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="doubleType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:double"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="dateTimeType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:dateTime"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="byteType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:byte"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="anyUriType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:anyURI"></xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="charType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"></xs:minLength>
                    <xs:maxLength value="1"></xs:maxLength>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
</xs:schema>
